<custom-options class="custom-options custom-options--{{ block.id }} product-form__input" data-type="color-picker" {{ block.shopify_attributes }}>
    {% style %}
        .custom-options--{{ block.id }} {
            --swatches-radius: 2000px;
            --custom-swatch-width: 36px;
        }
        .tooltip-icon svg {
            width: {{ 20 | times: settings.desktop_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
            height: {{ 20 | times: settings.desktop_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
        }
        @media screen and (max-width: 920px) {
            .tooltip-icon svg {
                width: {{ 20 | times: settings.mobile_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
                height: {{ 20 | times: settings.mobile_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
            }
        }
    {% endstyle %}
    {% liquid 
      assign product_form_id = 'product-form-' | append: section.id
      assign default_color = 'black'
    %}
    {% if block.settings.option_label != blank %}
        <label class="form__label label--{{ settings.typography_preset }}" for="{{ block.id }}-{{ block.settings.option_name }}">
            <span class="form__label-name">
                <span {% if settings.dim_text %}class="dim"{% endif %}>{{ block.settings.option_label }}</span>
                {% if block.settings.info_tooltip != blank %}
                    <span class="tooltip-icon{% if settings.dim_text %} dim{% endif %}">
                        {% if weight_accordion_title == 'regular' %}
                            {% render 'icon-accordion', icon: 'help-regular' %}
                        {% elsif weight_accordion_title == 'medium' %}
                                {% render 'icon-accordion', icon: 'help-medium' %}
                        {% elsif weight_accordion_title == 'bold' %}
                                {% render 'icon-accordion', icon: 'help-bold' %}
                        {% endif %}
                    </span>
                    <span class="tooltip-text color__swatch-tooltip--{{ settings.typography_preset }}">{{ block.settings.info_tooltip }}</span>
                {% endif %}
            </span>
        </label>
    {% endif %}
    <div class="form__variants">
        <div class="field field--color">
            <input 
                type="color"
                id="{{ block.id }}-{{ block.settings.option_name }}"
                name="properties[{{ block.settings.option_name }}]"
                form="{{ product_form_id }}"
                value="#000000"
                class="input input--{{ settings.typography_preset }} input--color"
            >
            <div class="field-color-wrapper">
                <div class="color__swatch color__swatch--color" style="--swatch-background: {{ default_color }}; --swatch-background-color: {{ default_color }};">
                    <span class="color__swatch-dot color__swatch-dot--color"></span>
                </div>
                <span class="selected-color-label input--{{ settings.typography_preset }}" data-color-value>#000000</span>
            </div>
        </div>
    </div>
</custom-options>