{%- if block.settings.custom_liquid != blank -%}
    {% liquid
        assign uppercase_font = false
        assign bolder_font = false
        if settings.typography_preset == 'custom'
            if settings.uppercase_body_m
                assign uppercase_font = true
            endif
            if settings.bolder_font_body_m
                assign bolder_font = true
            endif
        endif
      %} 
    <div class="custom-liquid body-text--{{ settings.typography_preset }} {% if uppercase_font %} uppercase{% endif %}{% if bolder_font %} bolder-font{% endif %}" {% if mega_drawer %}style=" --spacing: {{ block.settings.top_spacing }}; --mobile-spacing: {{ block.settings.mobile_top_spacing }};"{% endif%} {{ block.shopify_attributes }}>{{ block.settings.custom_liquid }}</div>
{%- endif -%}