<custom-options class="custom-options flex--column product-form__input" {{ block.shopify_attributes }}>
    {% liquid 
      assign product_form_id = 'product-form-' | append: section.id
      assign option_label =  block.settings.option_label
      if block.settings.option_label != blank and block.settings.make_required
        assign option_label =  block.settings.option_label  | append: '*'
      endif
    %}
    {% style %}
        .tooltip-icon svg {
            width: {{ 20 | times: settings.desktop_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
            height: {{ 20 | times: settings.desktop_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
        }
        @media screen and (max-width: 920px) {
            .tooltip-icon svg {
                width: {{ 20 | times: settings.mobile_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
                height: {{ 20 | times: settings.mobile_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
            }
        }
    {% endstyle %}
    {% if block.settings.option_label != blank %}
        <label class="form__label  label--{{ settings.typography_preset }}" for="{{ block.id }}-{{ block.settings.option_name }}">
            <span class="form__label-name">
                <span {% if settings.dim_text %}class="dim"{% endif %}>{{ option_label }}</span>
                {% if block.settings.info_tooltip != blank %}
                    <span class="tooltip-icon{% if settings.dim_text %} dim{% endif %}">
                        {% if weight_accordion_title == 'regular' %}
                            {% render 'icon-accordion', icon: 'help-regular' %}
                        {% elsif weight_accordion_title == 'medium' %}
                                {% render 'icon-accordion', icon: 'help-medium' %}
                        {% elsif weight_accordion_title == 'bold' %}
                                {% render 'icon-accordion', icon: 'help-bold' %}
                        {% endif %}
                    </span>
                    <span class="tooltip-text color__swatch-tooltip--{{ settings.typography_preset }}">{{ block.settings.info_tooltip }}</span>
                {% endif %}
            </span>
        </label>
    {% endif %}
    <div class="form__variants flex--column {{ block.settings.text_style }}{% if block.settings.text_uppercase %} uppercase{% endif %}{% if block.settings.text_style == 'subheading-font' and settings.use_heading_font_subheadings %} subheading-heading-font{% endif %}">
        <div class="field">
            <textarea 
                type="text"
                id="{{ block.id }}-{{ block.settings.option_name }}"
                name="properties[{{ block.settings.option_name }}]"
                {% if block.settings.make_required %}required="required" aria-required="true"{% endif %}
                form="{{ product_form_id }}"
                {% if block.settings.max_characters != blank %}
                    maxlength="{{ block.settings.max_characters }}"
                {% endif %}
                class="text-area input--{{ settings.typography_preset }}{% if block.settings.make_required %} required{% endif %}"></textarea>
                
            <span class="input-error-message visually-hidden input--{{ settings.typography_preset }} label_font">{{ 'products.product.error_message_required' | t }}</span>
        </div>
    </div>
</custom-options>