<custom-options class="custom-options product-form__input" {{ block.shopify_attributes }}>
    {% style %}
        .tooltip-icon svg {
            width: {{ 20 | times: settings.desktop_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
            height: {{ 20 | times: settings.desktop_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
        }
        @media screen and (max-width: 920px) {
            .tooltip-icon svg {
                width: {{ 20 | times: settings.mobile_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
                height: {{ 20 | times: settings.mobile_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
            }
        }
    {% endstyle %}
    {% liquid 
      assign product_form_id = 'product-form-' | append: section.id
      assign options = block.settings.options | split: ','
      assign default_option = ''
      assign required_option = false
      if block.settings.make_required or block.settings.min_selections > 0
      assign required_option = true
      endif
      assign option_label =  block.settings.option_label
      if block.settings.option_label != blank and required_option
        assign option_label =  block.settings.option_label  | append: '*'
      endif
    %}
    {% if block.settings.option_label != blank %}
        <p class="form__label label--{{ settings.typography_preset }}">
            <span class="form__label-name">
                <span {% if settings.dim_text %}class="dim"{% endif %}>{{ option_label }}</span>
                {% if block.settings.info_tooltip != blank %}
                    <span class="tooltip-icon{% if settings.dim_text %} dim{% endif %}">
                        {% if weight_accordion_title == 'regular' %}
                            {% render 'icon-accordion', icon: 'help-regular' %}
                        {% elsif weight_accordion_title == 'medium' %}
                                {% render 'icon-accordion', icon: 'help-medium' %}
                        {% elsif weight_accordion_title == 'bold' %}
                                {% render 'icon-accordion', icon: 'help-bold' %}
                        {% endif %}
                    </span>
                    <span class="tooltip-text color__swatch-tooltip--{{ settings.typography_preset }}">{{ block.settings.info_tooltip }}</span>
                {% endif %}
            </span>
            {% if settings.show_selected_option %} 
                <span class="current-option{% if settings.dim_text %} dim{% endif %}" data-selected-custom-option>{{  default_option }}</span>
            {% endif %}
        </p>
    {% endif %}
    {% if options.size > 0 %}
    <product-checkbox-group class="form__variants {% if block.settings.options_layout == 'two_columns' %} layout-two-columns{% else %} layout-row{% endif %}" 
        data-min="{% if block.settings.min_selections == 0 and block.settings.make_required %}1{% else %}{{ block.settings.min_selections }}{% endif %}" data-max="{{ block.settings.max_selections }}">
        {% for option in options %}
            <label data-group="true" class="field field--checkbox" for="{{ block.id }}-{{ block.settings.option_name }}-{{ forloop.index0 }}">
                <input type="checkbox" id="{{ block.id }}-{{ block.settings.option_name }}-{{ forloop.index0 }}" form="{{ product_form_id }}" value="{{ option | escape }}" name="properties[{{ block.settings.option_name }}]"
                {% if required_option and forloop.first %}required="required" aria-required="true"{% endif %}>
                <span class="label input--{{ settings.typography_preset }}">{{ option }}</span>
            </label>
        {% endfor %}
        <input type="hidden" name="properties[{{ block.settings.option_name }}]" form="{{ product_form_id }}" value>
    </product-checkbox-group>
    <span class="input-error-message visually-hidden input--{{ settings.typography_preset }} label_font">
        {% if block.settings.min_selections > 1 %}{{ 'products.product.error_select_options' | t: options: block.settings.min_selections }}{% elsif block.settings.min_selections == 1 %}{{ 'products.product.error_select_option' | t: option: block.settings.min_selections }}{% elsif block.settings.min_selections == 0 and block.settings.make_required %}{{ 'products.product.error_select_option' | t: option: 1 }}{% endif %}
    </span>
    {% endif %}
</custom-options>