<li>
    <drawer-menu trigger="click" level="child">
        <summary class="{{ level }}-level-item" open="false">
            <div class="menu__item-title {% if item_image != blank and item_style == 'banner' %} menu__item-title--banner{% endif %} menu__item--{{ settings.typography_preset }} {% if menu_settings.nested_menu_size != 'default' %}{{ menu_settings.nested_menu_size }}{% else %}{% if settings.navigation_item_size != 'default' %} {{ settings.navigation_item_size }}{% endif %}{% if uppercase_font_nested %} uppercase{% endif %}{% if bolder_font_nested %} bolder-font{% endif %}{% endif %}">
                {% liquid 
                    assign downcased_link_title = item_heading | downcase
                    assign downcased_highlighted_items = block.settings.highlight_menu_item | downcase | split: ", "
                    assign highlight_item = false
                    for highlighted_item in downcased_highlighted_items
                        if highlighted_item == downcased_link_title
                            assign highlight_item = true
                        endif
                    endfor
                    assign highlight_nested_item = false
                    for nested_highlighted_item in downcased_nested_highlighted_items
                        if nested_highlighted_item == downcased_link_title
                            assign highlight_nested_item = true
                        endif
                    endfor
                %}
                {% if item_image != blank and item_style == 'thumbnail' %}
                    <div class="menu__item-image lazy-image-container ratio-{{ image_ratio }}" {% if settings.disable_right_click %} oncontextmenu="return false"{% endif %}>
                    {% if settings.images_loading != 'disable' %}
                        <figure class="lazy-image lazy-image--{{ settings.images_loading }}" style="--desktop-asp-rat: {{ item_image.aspect_ratio }}">
                    {% endif %}   
                        <img srcset="{%- if item_image.width >= 165 -%}{{ item_image | image_url: width: 165 }} 165w,{%- endif -%}
                        {%- if item_image.width >= 375 -%}{{ item_image | image_url: width: 375 }} 375w,{%- endif -%}
                        {%- if item_image.width >= 550 -%}{{ item_image | image_url: width: 550 }} 550w,{%- endif -%}
                            {{ item_image | image_url: height: item_image.height }}"
                            src="{{ item_image | image_url: height: item_image.height }}"
                            loading="lazy"
                            {% if settings.images_loading != 'disable' %}
                                onload="this.parentNode.classList.add('lazyloaded');"
                            {% endif %}
                            draggable="false"
                            sizes="calc(40px * 1)"
                            width="{{ item_image.width }}"
                            height="{{ item_image.height }}"
                            alt="{{ item_image.alt | default: item_heading | escape }}"
                            style="object-position: {{ block.settings.focal_point }}"
                        />
                    {% if settings.images_loading != 'disable' %}
                        {% if settings.images_loading != 'fade_scale' %}
                        <div class="lazy-image__preloader lazy-image__preloader--full lazy-image__preloader-{{ settings.images_loading }}" aria-hidden="true">
                            <img 
                            alt="{{ item_image.alt | escape }}" 
                            src="{{ item_image | image_url: width: 10 }}"
                            draggable="false"
                            width="10" 
                            height="10">
                        </div>
                        {% endif %}
                        </figure>
                    {% endif %}
                    </div>
                {% endif %}
                {% if item_image != blank and item_style == 'banner' %}
                    <a href="{{ item_link.url }}" class="menu__item-image lazy-image-container menu__item-image-banner ratio-{{ image_ratio }}" {% if settings.disable_right_click %} oncontextmenu="return false"{% endif %}>
                        {%- liquid
                            assign widths = '50, 75, 100, 150, 200, 300, 400, 500, 650, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200'
                        -%}
                        {%- capture sizes -%}
                            (max-width: 640px) 100vw, 640px
                        {%- endcapture -%}
                    {% if settings.images_loading != 'disable' %}
                        <figure class="lazy-image lazy-image--{{ settings.images_loading }}" style="--desktop-asp-rat: {{ item_image.aspect_ratio }}">
                    {% endif %}
                        {{
                            item_image
                            | image_url: width: 3200
                            | image_tag:
                            sizes: sizes,
                            widths: widths,
                            class: img_class,
                            alt: item_image.alt,
                            draggable: false,
                            loading: 'lazy',
                            fetchpriority: 'low',
                            onload: onloadScript
                        }} 
                    {% if settings.images_loading != 'disable' %}
                        {% if settings.images_loading != 'fade_scale' %}
                        <div class="lazy-image__preloader lazy-image__preloader--full lazy-image__preloader-{{ settings.images_loading }}" aria-hidden="true">
                            <img 
                            alt="{{ item_image.alt | escape }}" 
                            src="{{ item_image | image_url: width: 10 }}"
                            draggable="false"
                            width="10" 
                            height="10">
                        </div>
                        {% endif %}
                        </figure>
                    {% endif %}
                    </a>
                {% endif %}
                <a href="{{ item_link.url }}"  tabindex="-1" class="link-{{ downcased_link_title }} menu__item-link hover-link{% if highlight_item or highlight_nested_item %} link--highlighted{% endif %} link--single" {% if item_link.url contains 'http://' or item_link.url contains 'https://' %}target="_blank"{% endif %}>
                    <div class="menu__item-link-title {% if item_link.current and settings.underline_active_link == true %}underline-active{% endif %} {% if settings.enable_animated_underline and settings.enable_rolling_hover == false %}link-animation--underline{% elsif settings.enable_rolling_hover %}link-animation--slide{% else %}link-animation{% endif %}">
                        <span data-hover="{{ item_heading }}">{{ item_heading }}</span>
                    </div>
                </a>
            </div>
        </summary>
    </drawer-menu>
</li>