{% liquid 
  if block.settings.store_selection_text != nil
    assign store_selection_text = block.settings.store_selection_text
  else 
    assign store_selection_text = settings.store_selection_text
  endif

  case availability
    when 'available'
      assign pickup_availability_text = 'products.product.pickup_availability.available_to_pickup_at' | t : store_name: cart.attributes['store']
      assign availability_style = 'available'
    when 'unavailable'
      assign pickup_availability_text = 'products.product.pickup_availability.out_of_stock_at' | t : store_name: cart.attributes['store']
      assign availability_style = 'unavailable'
    when nil
      assign pickup_availability_text = store_selection_text
      assign availability_style = 'unavailable'
  endcase

  if block != nil
    assign parent_tag = 'button'
  else
    assign parent_tag = 'div'
  endif
%}

<{{ parent_tag }} {% if block %}id="store_locator-{{ section.id }}"{% endif %}
  class="pickup-availability pickup-availability--{{ availability_style }} pickup-availability--{{ settings.typography_preset }} 
  {% if block.settings.text_size != 'default' %}{{ block.settings.text_size }}{% else %}{% if settings.typography_preset == 'custom' %}{% if settings.uppercase_body_s %} uppercase{% endif %}{% if settings.bolder_font_body_s %} bolder-font{% endif %}{% endif %}{% endif %}
    {%- if parent_tag == 'button' %} store-selector-drawer-opener {% endif -%}
  " 
  {% if block %}{{ block.shopify_attributes }}{% endif %}
>    
  <span class="pickup-availability__content pickup-availability--{{ availability_style }}"><span class="pickup-availability__icon"></span><span class="pickup-availability__text" data-placeholder="{{ store_selection_text }}">{{ pickup_availability_text }}</span></span>
</{{ parent_tag }}>
