{%- liquid
  assign raw_store = cart.attributes['store'] | strip

  if raw_store != blank
    assign store_selector_text = raw_store 
    
    if raw_store.size > 20
      assign trimmed_store = raw_store | slice: 0, 20
      assign store_selector_text = trimmed_store | append: '...'
    endif
  else
    assign store_selector_text = 'store_selector.select_your_store' | t
  endif
-%}

{% liquid
  if settings.typography_preset == 'avant_garde'
    assign weight = settings.accent_icon_weight
    if settings.swap_fonts
      assign weight = settings.base_icon_weight
    endif
  else
    assign weight = settings.base_icon_weight
    if settings.swap_fonts
      assign weight = settings.accent_icon_weight
    endif
  endif

  assign uppercase_font = false
  assign bolder_font = false
  if settings.typography_preset == 'custom'
    assign weight = settings.custom_icon_weight
    if settings.uppercase_body_s and settings.navigation_item_size == 'default'
      assign uppercase_font = true
    endif
    if settings.bolder_font_body_s and settings.navigation_item_size == 'default'
      assign bolder_font = true
    endif
  endif

  unless store_selector_settings
    assign store_selector_settings = block.settings
  endunless
%}

{% style %}
  .disclosure__button--minimal_uppercase .store-selector-icon,
  .disclosure__button--minimal_basic .store-selector-icon,
  .disclosure__button--classic .store-selector-icon,
  .disclosure__button--avant_garde .store-selector-icon {
      height: {{ 24 | times: settings.desktop_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
  }
  .disclosure__button--minimal_heavy .store-selector-icon,
  .disclosure__button--brutalist .store-selector-icon {
      height: {{ 28 | times: settings.desktop_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
  }
  .disclosure__button--contrast .store-selector-icon {
      height: {{ 16 | times: settings.desktop_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
      width: auto;
  }
  .disclosure__button--duet .store-selector-icon {
      height: {{ 26 | times: settings.desktop_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
  }
  .disclosure__button--custom .store-selector-icon {
      height: max(16px, calc(var(--body-s-font-size) * var(--body-s-line-height)));
  }
  .navigations-body-l .disclosure__button--custom .store-selector-icon {
      height: max(16px, calc(var(--body-l-font-size) * var(--body-l-line-height)));
  }
  .navigations-body-m .disclosure__button--custom .store-selector-icon {
      height: max(16px, calc(var(--body-m-font-size) * var(--body-m-line-height)));
  }
  .navigations-label .disclosure__button--custom .store-selector-icon {
      height: max(16px, calc(var(--label-font-size) * var(--label-line-height)));
  }

  @media screen and (max-width: 920px) {
      .disclosure__button--minimal_uppercase .store-selector-icon,
      .disclosure__button--minimal_basic .store-selector-icon,
      .disclosure__button--classic .store-selector-icon,
      .disclosure__button--avant_garde .store-selector-icon {
          height: {{ 24 | times: settings.mobile_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
      }
      .disclosure__button--minimal_heavy .store-selector-icon,
      .disclosure__button--brutalist .store-selector-icon {
          height: {{ 28 | times: settings.mobile_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
      }
      .disclosure__button--contrast .store-selector-icon {
          height: {{ 16 | times: settings.mobile_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
      }
      .disclosure__button--duet .store-selector-icon {
          height: {{ 26 | times: settings.mobile_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
      }
  }
{% endstyle %}

<button
  class="store-selector store-selector-drawer-opener hover-opacity disclosure__button disclosure__button--{{ settings.typography_preset }} {% if settings.navigation_item_size != 'default' and settings.typography_preset == 'custom' %}{{ settings.navigation_item_size }}{% else %}{% if uppercase_font %} uppercase{% endif %}{% if bolder_font %} bolder-font{% endif %}{% endif %} {% if settings.allow_transparent_navigation and settings.navigation_layout == 'sidebar_based' and section.id contains 'sidebar' and section.settings.color_type == 'default' %}scroll-color{% endif %}"
  {% if block %}{{ block.shopify_attributes }}{% endif %}
>
  {% if store_selector_settings.show_icon %}
    <span class="store-selector__icon store-selector-icon">
      {% if weight == 'regular' %}
        {% render 'icon', icon: 'place-favorite-regular' %}
      {% elsif weight == 'medium' %}
        {% render 'icon', icon: 'place-favorite-medium' %}
      {% elsif weight == 'bold' %}
        {% render 'icon', icon: 'place-favorite-bold' %}
      {% endif %}
    </span>
  {% endif %}
  <span class="store-selector__text" data-placeholder="{{ 'store_selector.select_your_store' | t }}">{{ store_selector_text }}</span>
  <span class="disclosure__button-icon dropdown-icon store-selector-icon">
    {% if weight == 'regular' %}
      {% render 'icon', icon: 'close-chevron-regular' %}
    {% elsif weight == 'medium' %}
      {% render 'icon', icon: 'close-chevron-medium' %}
    {% elsif weight == 'bold' %}
      {% render 'icon', icon: 'close-chevron-bold' %}
    {% endif %}
  </span>
</button>
