<!doctype html>
{% assign rtl_languages = "ar,he,fa,ur,ps,ks" | split: "," %}
{% assign shop_locale_code = request.locale.iso_code %}
<html class="no-js" lang="{{ shop_locale_code }}" {% if rtl_languages contains shop_locale_code %} dir="rtl" {% else %} dir="ltr" {% endif %}>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    {% comment %} <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> {% endcomment %}

    {%- unless settings.base_font.system? and settings.accent_font.system? -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    {%- if settings.favicon != blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    <title>{{ shop.name }}</title>

    <meta name="description" content="{{ page_description | escape }}">

    {% render 'meta-tags' %}
 
    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>


    {{ content_for_header }}

    {%- liquid
      assign body_font_bold = settings.type_body_font | font_modify: 'weight', 'bold'
      assign body_font_italic = settings.type_body_font | font_modify: 'style', 'italic'
      assign body_font_bold_italic = body_font_bold | font_modify: 'style', 'italic'
    %}

    {% style %}
    {{ settings.base_font | font_face: font_display: 'swap' }}
    {{ body_font_bold | font_face: font_display: 'swap' }}
    {{ body_font_italic | font_face: font_display: 'swap' }}
    {{ body_font_bold_italic | font_face: font_display: 'swap' }}
    {{ settings.accent_font | font_face: font_display: 'swap' }}

      :root {
        --layout-background-color: 
        {{ settings.layout_background_color.red }},
        {{ settings.layout_background_color.green }},
        {{ settings.layout_background_color.blue }};
        --layout-text-color: 
        {{ settings.layout_text_color.red }},
        {{ settings.layout_text_color.green }}, 
        {{ settings.layout_text_color.blue }};
        --base-button-color: 
        {{ settings.base_button_color.red }},
        {{ settings.base_button_color.green }},
        {{ settings.base_button_color.blue }};
        --accent-button-color: 
        {{ settings.accent_button_color.red }},
        {{ settings.accent_button_color.green }},
        {{ settings.accent_button_color.blue }};
        --hover-button-color: 
        {{ settings.hover_button_color.red }},
        {{ settings.hover_button_color.green }},
        {{ settings.hover_button_color.blue }};
        --popup-background-color: 
        {{ settings.popup_background_color.red }},
        {{ settings.popup_background_color.green }},
        {{ settings.popup_background_color.blue }};
        --error-color: 
        {{ settings.error_color.red }},
        {{ settings.error_color.green }},
        {{ settings.error_color.blue }};
        --success-color:
         {{ settings.success_color.red }},
         {{ settings.success_color.green }},
         {{ settings.success_color.blue }};
        --pickup-available-text: 
        {{ settings.pickup_available_text.red }}, 
        {{ settings.pickup_available_text.green }}, 
        {{ settings.pickup_available_text.blue }};
        --pickup-available-icon: 
        {{ settings.pickup_available_icon.red }}, 
        {{ settings.pickup_available_icon.green }}, 
        {{ settings.pickup_available_icon.blue }};
        --pickup-out-of-stock-text: 
        {{ settings.pickup_out_of_stock_text.red }}, 
        {{ settings.pickup_out_of_stock_text.green }}, 
        {{ settings.pickup_out_of_stock_text.blue }};
        --pickup-out-of-stock-icon: 
        {{ settings.pickup_out_of_stock_icon.red }}, 
        {{ settings.pickup_out_of_stock_icon.green }}, 
        {{ settings.pickup_out_of_stock_icon.blue }};
        {% if settings.blend_gradient != blank %}
          --blending-color: {{ settings.blend_gradient }};
        {% else %}
          --blending-color: {{ settings.blend_color }};
        {% endif %}

        --page-width: {{ settings.desktop_max_width }}px;
        --line-width: {{ settings.line_width }}px;
        --line-opacity: {{ settings.line_opacity | divided_by: 100.0 }};
        --outline-thickness: {{ settings.border_thickness }}px;
        --button-radius: {{ settings.button_radius }};
        --field-radius: {{ settings.field_radius }};
        {% if settings.field_radius == '2000px' %}
          --textarea-radius: 24px;
        {% else %}
          --textarea-radius: {{ settings.field_radius }};
        {% endif %}
        --images-and-section-radius: {{ settings.images_and_sections_radius }};
        --other-buttons-radius: {{ settings.other_buttons_radius }};
        --close-button-shadow: {{ settings.close_button_shadow | divided_by: 100.0 }};
        --animation-duration: {{ settings.animation_duration }}s;
        --transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1.0);
        --image-swatch-focal-point: {{ settings.image_swatch_focal_point }};
        --image-swatch-radius: {{ settings.image_swatch_radius }};
        --card-product-spacing: {{ settings.product_card_inner_spacing }}%;
        --images-duration: {{ settings.images_duration }}s;
        --images-delay: {{ settings.images_delay }}s;

        {% if settings.enable_page_fade_in %} 
        --fade-in-duration: {{ settings.page_fade_in_duration }}s;
        {% endif %}
      }
    {% endstyle %}
    {% render 'font-variables' %}
    {{ 'base.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'content-fonts.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'section-password.css' | asset_url | stylesheet_tag }}

    <script>document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
      if (Shopify.designMode) {
        document.documentElement.classList.add('shopify-design-mode');
      }
      </script>
  </head>

  {% liquid
    assign uppercase_buttons = false
    assign bolder_font_buttons = false
    if settings.typography_preset == 'custom' and settings.regular_button_size == 'default'
      if settings.uppercase_body_s
        assign uppercase_buttons = true
      endif
      if settings.bolder_font_body_s
        assign bolder_font_buttons = true
      endif
    endif
    assign navigations_type = ''
    if settings.typography_preset == 'custom' and settings.navigation_item_size != 'default'
      if settings.navigation_item_size contains 'body_l'
        assign navigations_type = 'navigations-body-l'
      elsif settings.navigation_item_size contains 'body_m'
        assign navigations_type = 'navigations-body-m'
      elsif settings.navigation_item_size contains 'body_s'
        assign navigations_type = 'navigations-body-s'
      elsif settings.navigation_item_size contains 'label'
        assign navigations_type = 'navigations-label'
      endif
    endif
  %} 
  <body 
    id="body" 
    class="password body 
      {%- if settings.select_text_accent_color %} body-accent-selection {% endif -%} 
      {%- if settings.disable_text_selection %} disable-selection {% endif -%}
      {%- if settings.enable_page_fade_in %} fade-in {% endif -%}
      {%- if settings.typography_preset == 'custom' %} custom-type-preset {{ navigations_type }}{% if uppercase_buttons %} buttons-uppercase{% endif %}{% if bolder_font_buttons %} buttons-font-bolder{% endif %} {% endif -%}
    "
  >

    {% section 'main-password-header' %}

    <main id="MainContent" class="password-main">
      {{ content_for_layout }}
    </main>
    
    <footer>
      {% section 'main-password-footer' %}
    </footer>
    <div class="overlay"></div>
    <quick-view-drawer>
      {% style %}
        quick-view-drawer {  
          --layout-text-color:
            {{ settings.layout_text_color.red }},
            {{ settings.layout_text_color.green }}, 
            {{ settings.layout_text_color.blue }}; 
          --layout-background-color:
            {{ settings.layout_background_color.red }},
            {{ settings.layout_background_color.green }},
            {{ settings.layout_background_color.blue }};     
        }
      {% endstyle %}
      <details>
        <summary class="quick-view__summary" tabindex="-1">
        </summary>
        <quick-view class="quick-view">
          <div role="dialog" aria-modal="true" class="quick-view__content" tabindex="-1"></div>
        </quick-view>
      </details>
    </quick-view-drawer>
    {% if settings.preload_links %}
      <script src="{{ 'quicklink.umd.js' | asset_url }}" defer="defer"></script>
      <script>
        window.addEventListener('load', () => {
          const waitForQuicklink = () => {
            if (typeof quicklink !== 'undefined') {
              quicklink.listen({
                el: document.body,
                ignores: [
                  uri => {
                    const sameOrigin = new URL(uri, location.href).origin === location.origin;
                    return !sameOrigin;
                  },
                  uri => uri.includes('#')
                ]
              });
            } else {
              setTimeout(waitForQuicklink, 50);
            }
          };
          waitForQuicklink();
        });
      </script>
    {% endif %}
  </body>
</html>