{% style %}
  #shopify-section-{{ section.id }} {
    --top-and-bottom-paddings: {{ section.settings.section_paddings }}px;

    {% if section.settings.color_type == 'invert' %}
      --layout-text-color:
        {{ settings.layout_background_color.red }},
        {{ settings.layout_background_color.green }},
        {{ settings.layout_background_color.blue }};
      --layout-background-color:
        {{ settings.layout_text_color.red }},
        {{ settings.layout_text_color.green }}, 
        {{ settings.layout_text_color.blue }};
    {% endif %}
    {% if section.settings.color_type == 'custom' %}
      --layout-text-color:
        {{ section.settings.text_color.red }},
        {{ section.settings.text_color.green }}, 
        {{ section.settings.text_color.blue }};
      --layout-background-color:
        {{ section.settings.background_color.red }},
        {{ section.settings.background_color.green }}, 
        {{ section.settings.background_color.blue }};
    {% endif %}

    background-color: rgb(var(--layout-background-color));
    color: rgb(var(--layout-text-color));
  }
{% endstyle %}

{% if template.name != 'index' and settings.enable_breadcrumbs %}
  <div class="breadcrumbs-section__content color-{{ section.settings.color_type }} section-padding--{{ settings.white_space }} page-width--{{ settings.max_page_width }}
    {%- if section.settings.color_type != 'default' %} no-default-color {% endif -%}  
    {%- if settings.max_page_width == '1400' or settings.max_page_width == '1200' %} page-width {% endif -%}"
  >
    {%- render 'breadcrumbs', object: section -%}
  </div>
{% endif %}

{% schema %}
{
  "name": "t:sections.breadcrumbs.name",
  "tag": "section",
  "class": "breadcrumbs-section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.breadcrumbs.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "breadcrumbs_center_content",
      "default": false,
      "label": "t:sections.all.center_content.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.colors.color_type.label"
    },
    {
      "type": "radio",
      "id": "color_type",
      "label": "t:sections.all.colors.color_type.label",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.colors.color_type.options__1.label"
        },
        {
          "value": "invert",
          "label": "t:sections.all.colors.color_type.options__2.label"
        },
        {
          "value": "custom",
          "label": "t:sections.all.colors.color_type.options__3.label"
        }
      ],
      "default": "default"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.all.colors.background_color.label",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "t:sections.all.colors.text_color.label",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "t:sections.all.paddings.section_paddings.content"
    }, 
    {
      "type": "range",
      "id": "section_paddings",
      "min": 0,
      "max": 16,
      "step": 2,
      "unit": "px",
      "default": 8,
      "label": "t:sections.all.paddings.top_and_bottom_paddings.label"
    }
  ],
  "presets": [
    {
      "name": "t:sections.breadcrumbs.name"
    }
  ],
  "enabled_on": {
    "templates": [
      "product",
      "list-collections",
      "collection",
      "blog",
      "article"
    ],
    "groups": [
      "header"
    ]
  }
}
{% endschema %}
