{{ 'component-cart-drawer.css' | asset_url | stylesheet_tag }}
{{ 'component-accordion.css' | asset_url | stylesheet_tag }}
{{ 'store-selector-drawer.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign weight = settings.base_icon_weight

  if settings.typography_preset == 'avant_garde'
    assign weight_close = settings.accent_icon_weight
    if settings.swap_fonts
      assign weight_close = settings.base_icon_weight
    endif
  else
    assign weight_close = settings.base_icon_weight
    if settings.swap_fonts
      assign weight_close = settings.accent_icon_weight
    endif
  endif

  assign uppercase_font = false
  assign bolder_font = false
  assign uppercase_body_m = false
  assign bolder_body_m = false
  assign uppercase_font_name = false
  assign bolder_font_name = false
  if settings.typography_preset == 'custom'
    assign weight = settings.custom_icon_weight
    assign weight_close = settings.custom_icon_weight
    if settings.uppercase_body_s
      assign uppercase_font = true
    endif
    if settings.bolder_font_body_s
      assign bolder_font = true
    endif
    if settings.uppercase_body_m
      assign uppercase_body_m = true
    endif
    if settings.bolder_font_body_m
      assign bolder_body_m = true
    endif
    if settings.uppercase_body_l and section.settings.store_name_style == 'default'
      assign uppercase_font_name = true
    endif
    if settings.bolder_font_body_l and section.settings.store_name_style == 'default'
      assign bolder_font_name = true
    endif
  endif
-%}

{% style %}
  .icon-accordion {
    width: auto;
    height: {{ 24 | times: settings.desktop_font_scale | divided_by: 100.0 | round | at_least: 24 }}px;
  }
  .heading_s.icon-accordion,
  .heading_s_uppercase.icon-accordion {
    height: {{ 46 | times: settings.desktop_font_scale | divided_by: 100.0 | round | at_least: 16 | at_most: 128 }}px;
  }
  .heading_xs.icon-accordion,
  .heading_xs_uppercase.icon-accordion {
    height: {{ 36 | times: settings.desktop_font_scale | divided_by: 100.0 | round | at_least: 16 | at_most: 128 }}px;
  }
  .body_l.icon-accordion,
  .body_l_uppercase.icon-accordion {
    height: {{ 28 | times: settings.desktop_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
  }
  .body_m.icon-accordion,
  .body_m_uppercase.icon-accordion {
    height: {{ 26 | times: settings.desktop_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
  }
  .label_font.icon-accordion,
  .label_font_uppercase.icon-accordion {
    height: {{ 16 | times: settings.desktop_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
  }
  .store-accordion__checkbox-wrapper {
    min-height: {{ 24 | times: settings.desktop_font_scale | divided_by: 100.0 | round | at_least: 24 }}px;
  }
  .heading_s.store-accordion__checkbox-wrapper,
  .heading_s_uppercase.store-accordion__checkbox-wrapper {
    min-height: {{ 46 | times: settings.desktop_font_scale | divided_by: 100.0 | round | at_least: 16 | at_most: 128 }}px;
  }
  .heading_xs.store-accordion__checkbox-wrapper,
  .heading_xs_uppercase.store-accordion__checkbox-wrapper {
    min-height: {{ 36 | times: settings.desktop_font_scale | divided_by: 100.0 | round | at_least: 16 | at_most: 128 }}px;
  }
  .body_l.store-accordion__checkbox-wrapper,
  .body_l_uppercase.store-accordion__checkbox-wrapper {
    min-height: {{ 28 | times: settings.desktop_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
  }
  .body_m.store-accordion__checkbox-wrapper,
  .body_m_uppercase.store-accordion__checkbox-wrapper {
    min-height: {{ 26 | times: settings.desktop_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
  }
  .label_font.store-accordion__checkbox-wrapper,
  .label_font_uppercase.store-accordion__checkbox-wrapper {
    min-height: {{ 16 | times: settings.desktop_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
  }
  .custom-type-preset .icon-accordion {
    height: max(24px, calc(var(--body-s-font-size) * var(--body-s-line-height)));
  }
  .custom-type-preset .heading_m.icon-accordion,
  .custom-type-preset .heading_m_uppercase.icon-accordion {
    height: max(16px, calc(var(--heading-m-font-size) * var(--heading-m-line-height)));	
  }
  .custom-type-preset .heading_s.icon-accordion,
  .custom-type-preset .heading_s_uppercase.icon-accordion {
    height: max(16px, calc(var(--heading-s-font-size) * var(--heading-s-line-height)));	
  }
  .custom-type-preset .heading_xs.icon-accordion,
  .custom-type-preset .heading_xs_uppercase.icon-accordion {
    height: max(16px, calc(var(--heading-xs-font-size) * var(--heading-xs-line-height)));	
  }
  .custom-type-preset .body_l.icon-accordion,
  .custom-type-preset .body_l_uppercase.icon-accordion {
    height: max(16px, calc(var(--body-l-font-size) * var(--body-l-line-height)));
  }
  .custom-type-preset .body_m.icon-accordion,
  .custom-type-preset .body_m_uppercase.icon-accordion {
    height: max(16px, calc(var(--body-m-font-size) * var(--body-m-line-height)));
  }
  .custom-type-preset .label_font.icon-accordion,
  .custom-type-preset .label_font_uppercase.icon-accordion {
    height: max(16px, calc(var(--label-font-size) * var(--label-line-height)));
  }
  .custom-type-preset .store-accordion__checkbox-wrapper {
    min-height: max(24px, calc(var(--body-s-font-size) * var(--body-s-line-height)));
  }
  .custom-type-preset .heading_m.store-accordion__checkbox-wrapper,
  .custom-type-preset .heading_m_uppercase.store-accordion__checkbox-wrapper {
    min-height: max(16px, calc(var(--heading-m-font-size) * var(--heading-m-line-height)));	
  }
  .custom-type-preset .heading_s.store-accordion__checkbox-wrapper,
  .custom-type-preset .heading_s_uppercase.store-accordion__checkbox-wrapper {
    min-height: max(16px, calc(var(--heading-s-font-size) * var(--heading-s-line-height)));	
  }
  .custom-type-preset .heading_xs.store-accordion__checkbox-wrapper,
  .custom-type-preset .heading_xs_uppercase.store-accordion__checkbox-wrapper {
    min-height: max(16px, calc(var(--heading-xs-font-size) * var(--heading-xs-line-height)));	
  }
  .custom-type-preset .body_l.store-accordion__checkbox-wrapper,
  .custom-type-preset .body_l_uppercase.store-accordion__checkbox-wrapper {
    min-height: max(16px, calc(var(--body-l-font-size) * var(--body-l-line-height)));
  }
  .custom-type-preset .body_m.store-accordion__checkbox-wrapper,
  .custom-type-preset .body_m_uppercase.store-accordion__checkbox-wrapper {
    min-height: max(16px, calc(var(--body-m-font-size) * var(--body-m-line-height)));
  }
  .custom-type-preset .label_font.store-accordion__checkbox-wrapper,
  .custom-type-preset .label_font_uppercase.store-accordion__checkbox-wrapper {
    min-height: max(16px, calc(var(--label-font-size) * var(--label-line-height)));
  }
  @media screen and (max-width: 920px) {
    .icon-accordion {
      width: auto;
      height: {{ 24 | times: settings.mobile_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
    }
    .heading_s.icon-accordion,
    .heading_s_uppercase.icon-accordion {
      height: {{ 46 | times: settings.mobile_font_scale | divided_by: 100.0 | round | at_least: 16 | at_most: 128 }}px;
    }
    .heading_xs.icon-accordion,
    .heading_xs_uppercase.icon-accordion {
      height: {{ 36 | times: settings.mobile_font_scale | divided_by: 100.0 | round | at_least: 16 | at_most: 128 }}px;
    }
    .body_l.icon-accordion,
    .body_l_uppercase.icon-accordion {
      height: {{ 28 | times: settings.mobile_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
    }
    .body_m.icon-accordion,
    .body_m_uppercase.icon-accordion {
      height: {{ 26 | times: settings.mobile_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
    }
    .label_font.icon-accordion,
    .label_font_uppercase.icon-accordion {
      height: {{ 16 | times: settings.mobile_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
    }
    .store-accordion__checkbox-wrapper {
      min-height: {{ 24 | times: settings.mobile_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
    }
    .heading_s.store-accordion__checkbox-wrapper,
    .heading_s_uppercase.store-accordion__checkbox-wrapper {
      min-height: {{ 46 | times: settings.mobile_font_scale | divided_by: 100.0 | round | at_least: 16 | at_most: 128 }}px;
    }
    .heading_xs.store-accordion__checkbox-wrapper,
    .heading_xs_uppercase.store-accordion__checkbox-wrapper {
      min-height: {{ 36 | times: settings.mobile_font_scale | divided_by: 100.0 | round | at_least: 16 | at_most: 128 }}px;
    }
    .body_l.store-accordion__checkbox-wrapper,
    .body_l_uppercase.store-accordion__checkbox-wrapper {
      min-height: {{ 28 | times: settings.mobile_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
    }
    .body_m.store-accordion__checkbox-wrapper,
    .body_m_uppercase.store-accordion__checkbox-wrapper {
      min-height: {{ 26 | times: settings.mobile_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
    }
    .label_font.store-accordion__checkbox-wrapper,
    .label_font_uppercase.store-accordion__checkbox-wrapper {
      min-height: {{ 16 | times: settings.mobile_font_scale | divided_by: 100.0 | round | at_least: 16 }}px;
    }
  }
{% endstyle %}

<store-selector-drawer class="store-selector-drawer-wrapper drawer">
  {% comment %} <div id="StoreSelectorDrawer-Overlay" class="overlay"></div> {% endcomment %}
  <div id="StoreSelectorDrawer" class="store-selector-drawer">
     <div class="scroll-area hide-scrollbar">
    <div
      class="store-selector-drawer__inner"
      role="dialog"
      aria-modal="true"
      aria-label=""
      tabindex="-1"
    >
      <div class="drawer__inner-wrapper">
        <div class="button-wrapper {% if settings.enable_buttons_zoom %}buttons-zoom{% endif %}">
          <button
            class="drawer__close button-close"
            type="button"
            onclick="this.closest('store-selector-drawer').close()"
            aria-label="{{ 'accessibility.close' | t }}"
          >
            {% if weight_close == 'light' %}
              {% render 'icon', icon: 'cross-light' %}
            {% elsif weight_close == 'regular' %}
              {% render 'icon', icon: 'cross-regular' %}
            {% elsif weight_close == 'medium' %}
              {% render 'icon', icon: 'cross-medium' %}
            {% elsif weight_close == 'bold' %}
              {% render 'icon', icon: 'cross-bold' %}
            {% endif %}
          </button>
        </div>
        <h2 class="store-selector-drawer__heading drawer__heading body-secondary-text--{{ settings.typography_preset }}{% if uppercase_font %} uppercase{% endif %}{% if bolder_font %} bolder-font{% endif %}">
          {{ section.settings.heading }}
        </h2>
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {% when 'store' %}
              {% if block.settings.name != blank %}
                {%- liquid
                  if settings.typography_preset == 'classic' or settings.typography_preset == 'duet'
                    assign weight = settings.accent_icon_weight
                    if settings.swap_fonts
                      assign weight = settings.base_icon_weight
                    endif
                  else
                    assign weight = settings.base_icon_weight
                    if settings.swap_fonts
                      assign weight = settings.accent_icon_weight
                    endif
                  endif
                  if settings.typography_preset == 'custom'
                    assign weight = settings.custom_icon_weight
                  endif
                -%}

                <article class="store-accordion product__accordion accordion" {{ block.shopify_attributes }}>
                  <accordion-block>
                    <div class="accordion-toggle no-js-hidden accordion-toggle--{{ settings.white_space }}">
                      <div tabindex="0" class="accordion__summary">
                        <div class="summary__title">
                          <div class="store-accordion__toggle-area summary__title-name">
                            <div class="store-accordion__checkbox-wrapper {% if section.settings.store_name_style != 'default' %}{{ section.settings.store_name_style }}{% endif %}">
                              <input class="store-accordion__checkbox" type="checkbox" type="checkbox" name="store" value="{{ block.settings.name }}" {% if block.settings.name == cart.attributes['store'] %}checked{% endif %}> 
                            </div>
                            {% if block.settings.image %}
                              {{
                                block.settings.image
                                | image_url: width: 144
                                | image_tag:
                                class: 'store-accordion__image',
                                alt: block.settings.name
                              }}
                            {% endif %}
                            <div class="store-accordion__title-info">
                              <h2 class="store-accordion__title h4 accordion__title accordion__title--{{ settings.typography_preset }} {% if section.settings.store_name_style != 'default' %}{{ section.settings.store_name_style }}{% else %}{% if uppercase_font_name %} uppercase{% endif %}{% if bolder_font_name %} bolder-font{% endif %}{% endif %}">
                                {{ block.settings.name }}
                              </h2>

                              {% if block.settings.address != blank %}
                                <address class="store-accordion__address body-text--{{ settings.typography_preset }}{% if uppercase_body_m %} uppercase{% endif %}{% if bolder_body_m %} bolder-font{% endif %} dim">{{ block.settings.address }}</address>
                              {% endif %}

                              <div class="accordion__panel">
                                {% if block.settings.details != blank %}
                                  <div class="accordion__content accordion__content--{{ settings.white_space }}">
                                    <div class="accordion__text richtext {% if settings.enable_animated_underline %}richtext-link--underline{% endif %} body-text--{{ settings.typography_preset }}{% if uppercase_body_m %} uppercase{% endif %}{% if bolder_body_m %} bolder-font{% endif %}">
                                      {{ block.settings.details }}
                                    </div>
                                  </div>
                                {% endif %}
                              </div>
                            </div>
                          </div>
                          <span class="icon-accordion icon-accordion--{{ settings.typography_preset }} {% if section.settings.store_name_style != 'default' %}{{ section.settings.store_name_style }}{% endif %}">
                            <span class="icon-accordion__close">
                              {% if weight == 'regular' %}
                                {% render 'icon', icon: 'plus-regular' %}
                              {% elsif weight == 'medium' %}
                                {% render 'icon', icon: 'plus-medium' %}
                              {% elsif weight == 'bold' %}
                                {% render 'icon', icon: 'plus-bold' %}
                              {% endif %}
                            </span>
                            <span class="icon-accordion__open">
                              {% if weight == 'regular' %}
                                {% render 'icon', icon: 'minus-regular' %}
                              {% elsif weight == 'medium' %}
                                {% render 'icon', icon: 'minus-medium' %}
                              {% elsif weight == 'bold' %}
                                {% render 'icon', icon: 'minus-bold' %}
                              {% endif %}
                            </span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </accordion-block>
                </article>
              {% endif %}
          {%- endcase -%}
        {% endfor %}
      </div>

      <div class="drawer__footer">
        <div class="drawer__footer-actions {% if settings.enable_buttons_zoom %}buttons-zoom{% endif %}">
          <button
            class="change-store-button button solid-button button--{{ settings.typography_preset }} {% if settings.typography_preset == 'custom' %}{% if settings.regular_button_size == 'default' %}button-font--default{% else %}{{ settings.regular_button_size }}{% endif %}{% endif %}"
            name="checkout"
          >
            <div class="change-store-button__loader loading-overlay__spinner hidden">
              <svg class="spinner" width="24px" height="24px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                <circle class="path" fill="none" stroke-width="5" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
              </svg>
            </div>
            <span class="change-store-button__text">{{ 'store_selector.change_my_store' | t }}</span>
          </button>
        </div>
      </div>
    </div>
    </div>
  </div>
</store-selector-drawer>

{% schema %}
{
  "name": "t:sections.store_selector_drawer.name",
  "tag": "section",
  "limit": 1,
  "class": "section-store-selector-drawer",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.store_selector_drawer.settings.info"
    },
    {
      "type": "paragraph",
      "content": "t:sections.store_selector_drawer.settings.learn_more"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "Select pickup location",
      "label": "t:sections.all.labels.heading.label"
    },
    {
      "type": "select",
      "id": "store_name_style",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.size.options__1.label"
        },
        {
          "value": "heading_s",
          "label": "t:sections.all.size.options__8.label"
        },
        {
          "value": "heading_s_uppercase",
          "label": "t:sections.all.size.options__9.label"
        },
        {
          "value": "heading_xs",
          "label": "t:sections.all.size.options__10.label"
        },
        {
          "value": "heading_xs_uppercase",
          "label": "t:sections.all.size.options__11.label"
        },
        {
          "value": "body_l",
          "label": "t:sections.all.size.options__12.label"
        },
        {
          "value": "body_l_uppercase",
          "label": "t:sections.all.size.options__13.label"
        },
        {
          "value": "body_m",
          "label": "t:sections.all.size.options__14.label"
        },
        {
          "value": "body_m_uppercase",
          "label": "t:sections.all.size.options__15.label"
        },
        {
          "value": "body_s",
          "label": "t:sections.all.size.options__16.label"
        },
        {
          "value": "body_s_uppercase",
          "label": "t:sections.all.size.options__17.label"
        },
        {
          "value": "label_font",
          "label": "t:sections.all.size.options__18.label"
        },
        {
          "value": "label_font_uppercase",
          "label": "t:sections.all.size.options__19.label"
        }
      ],
      "default": "default",
      "label": "t:sections.store_selector_drawer.settings.store_name_style.label"
    }
  ],
  "blocks": [
    {
      "type": "store",
      "name": "t:blocks.store.name",
      "settings": [
        {
          "type": "text",
          "id": "name",
          "label": "t:blocks.store.settings.store_name.label",
          "info": "t:blocks.store.settings.store_name.info"
        },
        {
          "type": "text",
          "id": "address",
          "label": "t:blocks.store.settings.address.label"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:blocks.store.settings.image.label"
        },
        {
          "type": "richtext",
          "id": "details",
          "label": "t:blocks.store.settings.details.label"
        }
      ]
    }
  ],
  "enabled_on": {
    "groups": ["header"]
  },
  "presets": [
    {
      "name": "t:sections.store_selector_drawer.name",
      "blocks": [
        {
          "type": "store"
        }
      ]
    }
  ]
}
{% endschema %}
